<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<h1>index.html</h1>
<a th:href="@{/hello}">测试@Requestmapping注解所标识的位置</a> <br>
<a th:href="@{/hello}">测试@@RequestMapping注解的val属性</a> <br>
<form th:action="@{/hello}" method="post">
    <input type="submit" value="测速@RequrestMapping注解的method属性">
</form>
<a th:href="@{/hello?username=admin}">测试@RequestMapping的parama属性</a><br>
<a th:href="@{/hello(username='admin')}">测试@RequestMapping的parama属性</a><br>
</body>
</html>